@keyframes grow {
    from {
      transform: scale(0.5);
      opacity: 0;
    }
  
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .grow {
    animation: grow 0.4s ease-in-out forwards;
  }
  
  :root {
    /* colors */
    --primary-color: #0A2A36;
    --background-color: #36a2eb;
    --background-color-opacity-50: rgba(54 162 235 / 0.5);
    --icons-extanded: #ce5c22;
    --gold1: #A38A00;
    --gold2: #D1B000;
    --gold: #FFD700;
    --gold4: #ffe02e2b;
    --gold5: #f8d82313;
    --light: #ebe9e1;
    --grey: #605f5e;;
    --light-opacity-50: rgb(224 222 214 / 0.5);
    --light-opacity-90: rgb(224 222 214 / 0.9);
    --dark: #242428;
    --dark-opacity-50: rgba(40, 40, 44, 0.5);
    --dark-opacity-90: rgb(43 36 40 / 0.9);
    --dark-opacity-95: rgb(43 36 40 / 0.95);
    --darker-color: #2c2c2e;
    --sidebar-width: 200px;
  
    /* dimensions */
    --small-space: 5px;
    --smaller-space: 11px;
    --regular-space: 13px;
    --logo-space: 23px;
    --big-space: 31px;
    --large-space: 190px;
  }
  